<!-- The Modal -->
<div class="modal fade" id="myModal_login">
<div class="modal-dialog">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
    	<h3>Header</h3>
      <button type="button" class="close" data-dismiss="modal">×</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body">
    	<form action="{% url 'users:login_user' %}" method="POST">
    		{% csrf_token %}
          <label for="id_email">Email</label>
          <input type="text" name="email" id="id_email">
          <label for="id_password">Password</label>
          <input type="password" name="password" id="id_email">
          <input type="submit" name="submit" value="login">
    	</form>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
    
  </div>
</div>
</div>